@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bronze-100: #FFE8D9;
  --color-bronze-300: #E5A073;
  --color-bronze-500: #CD7F32;
  --color-bronze-700: #8B4513;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.text-bronze {
  color: var(--color-bronze-500);
}
.bg-bronze {
  background-color: var(--color-bronze-100);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
